<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>opencover</Format>
          <IncludeTestAssembly>false</IncludeTestAssembly>
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>

  <LoggerRunSettings>
    <Loggers>
      <Logger friendlyName="console" enabled="true">
        <Configuration>
          <Verbosity>detailed</Verbosity>
        </Configuration>
      </Logger>
      <Logger friendlyName="trx" enabled="true">
        <Configuration>
          <LogFileName>test-results.trx.xml</LogFileName>
        </Configuration>
      </Logger>
      <Logger friendlyName="junit" enabled="true">
        <Configuration>
          <LogFileName>test-results.junit.xml</LogFileName>
        </Configuration>
      </Logger>
    </Loggers>
  </LoggerRunSettings>
</RunSettings>
